html,
body {
    margin: 0;
    padding-bottom: 8vh;
    /* Fixes navbar overlap. Might need adjustment later. */
}

.heading {
    text-align: center;
    background-color: darkgray;
    padding: 1em 1em;
}

#top-bar {
    display: grid;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr;
}

#add-assignment img {
    width: 50px;
}


