html,
body {
    margin: 0;
    padding-bottom: 8vh;
    /* Fixes navbar overlap. Might need adjustment later. */
}

.heading {
    text-align: center;
    background-color: darkgray;
    padding: 1em 1em;
}

#top-bar {
    display: grid;
    margin: auto;
    grid-template-columns: 3fr 1fr;
}

#add-assignment img {
    margin: 1.5em auto 1.5em 0;
    width: 50px;
}