html,
body {
    margin: 0;
    padding-bottom: 8vh;
    /* Fixes navbar overlap. Might need adjustment later. */
    background-color: #DAD7CD;
  }

.heading {
    text-align: center;
    background-color: darkgray;
    padding: 1em 1em;
}

#top-bar {
    display: grid;
    margin: auto;
    grid-template-columns: 3fr 1fr;
}

#add-assignment img {
    margin: 1.5em auto 1.5em 0;
    width: 50px;
}

.assignment {
  background-color: #A3B18A;
}

.assignment-tag {
  background-color: #588157;
}

/* DAD7CD Faint green */ 
/* A3B18A Olive green */ 
/* 588157 Light Green */
/* 3A5A40 Green */
/* 344E41 Dark green */