body {
    margin: 0;
    padding-bottom: 16vh;
    /* Fixes navbar overlap. Might need adjustment later. */
}

#page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0% 2%;
    font-size: 1.5rem;
}

.btn {
    margin: 1% 0% 1% 0%;
    background-color: #3a5a40;
    color: white;
}

.form-group {
    margin-top: 5%;
}

#add-assignment-confirmation {
    text-align: center;
    color: green;
}

table {
    background-color: blue;
}