/* For all pages with the same elements */
body {
  /* background-color: #DAD7CD;
  background-color: rgb(241, 241, 241); */
  background-color: #f3f6fc;
}
.heading {
  background-color: #588157;
}
#navBar {
  background-color: #588157;
}

/* For assignment cards */
.style-COMP1800 .assignment-tag {
  background-color: hsl(273, 40%, 60%);
}
.style-COMP1800 {
  background-color: hsl(273, 34%, 89%);
}

.style-COMP1510 .assignment-tag {
  background-color: hsl(0, 50%, 60%);
}
.style-COMP1510 {
  background-color: hsl(0, 23%, 89%);
}

.style-COMP1537 .assignment-tag {
  background-color: hsl(30, 40%, 60%);
}
.style-COMP1537 {
  background-color: hsl(30, 34%, 89%);
}

.style-COMM1116 .assignment-tag {
  background-color: hsl(200, 40%, 60%);
}
.style-COMM1116 {
  background-color: hsl(200, 34%, 89%);
}

.style-COMP1100 .assignment-tag {
  background-color: hsl(56, 40%, 60%);
}
.style-COMP1100 {
  background-color: hsl(56, 34%, 89%);
}

.style-COMP1113 .assignment-tag {
  background-color: hsl(332, 50%, 60%);
}
.style-COMP1113 {
  background-color: hsl(332, 34%, 89%);
}

.style-COMP1712 .assignment-tag {
  background-color: hsl(109, 35%, 60%);
}
.style-COMP1712 {
  background-color: hsl(109, 34%, 89%);
}

/* Button settings */
.btn {
  background-color: #3a5a40;
  color: white;
}
.btn:hover {
  background-color: #3b7245;
}