html, body {
    margin: 0;
    padding-bottom: 7vh; /* Fixes navbar overlap. Might need adjustment later. */
}

.heading {
    text-align: center;
    display: flex;
    padding: 1em 1em;
}

.heading h3 {
    text-align: center;
    margin: auto auto auto 0.5em;

}

.heading img {
    width: 50px;
    margin: auto 0 auto auto;
    vertical-align: middle;
}

#top-bar {
    display: grid;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr;
}

#add-assignment img {   
    width: 50px;
}

/* Navbar instance */
#navBar {
    padding-top: 3vh;
    justify-content: space-around;
}

.nav-item {
    text-decoration: none;
    color: inherit;
}

.nav-item img {
    width: 100%;
    min-height: 4%;
    max-height: 5vh;
}

#navBar p {
    text-align: center;
    font-size: 1rem;
}

img {
    display: block;
    margin: 0 auto;
}

/* Assignment Instance */

.assignment {
    width: 90%;
    height: 8em;
    margin: 2em auto;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 1% 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* .assignment:hover{
    animation-name: assignmentHover;
    animation-duration: .3s;
    animation-fill-mode: forwards;
} */

@keyframes assignmentHover {
    from {
        scale: 100%;
    }
    to {
        scale: 102%;
    }
}

@keyframes assignmentSubmit {
    0%, 100% {
        scale: 100%;
    }
    50% {
        scale: 95%;
    }
}

.assignment-completed {
    animation-name: assignmentSubmit;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    background-color: rgb(236, 236, 236);
    color: rgb(193, 195, 196)
}

.assignment-completed img {
    opacity: .5;
}


.top-row {
    grid-row: 1;
    display: grid;
    grid-template-columns: 55% 25% 1fr 1fr;
}

.title-here {
    grid-column: 1;
}

.points-here {
    grid-column: 2;
}

.bookmark {
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 35px;
    border-right: 14px solid rgb(194, 194, 194);
    border-left: 14px solid rgb(194, 194, 194);
    border-bottom: 10px solid transparent;
    margin: auto 0 0 auto;
    grid-column: 3;
}

.bookmark:checked {
    border-right-color: rgb(60, 60, 60);
    border-left-color: rgb(60, 60, 60);
}

.checkbox {
    cursor: pointer;
    margin: 0 0 0 auto;
    width: 35px;
    grid-column: 4;
}

.top-row p {
    font-size: larger;
    font-weight: bold;
    margin: auto auto 0.2em 0;
}


.assignment-tag {
    background-color: darkgrey;
    width: auto;
    margin: auto;
    margin-left: 0;
    margin-top: 0;
    border-radius: 3em;
}

.assignment-tag p {
    color: white;
    margin: auto 1em;
    font-size: 0.9em;
}

.bottom-row {
    grid-row: 3;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom-row>p {
    margin: 1em auto auto 0
}

.amount-completed {
    margin: 1em 0 0 auto;
}

.amount-completed img {
    vertical-align: middle;
    float: left;
    width: 35px;
    height: auto;
    margin: auto 5px auto auto;
}

.amount-completed p {
    margin: auto;
}

.style-COMP1800 .assignment-tag {
    background-color: hsl(273, 40%, 60%);
}
.style-COMP1800 {
    background-color: hsl(273, 34%, 89%);
}

.style-COMP1510 .assignment-tag {
    background-color: hsl(0, 50%, 60%);
}
.style-COMP1510 {
    background-color: hsl(0, 23%, 89%);
}

.style-COMP1537 .assignment-tag {
    background-color: hsl(30, 40%, 60%);
}
.style-COMP1537 {
    background-color: hsl(30, 34%, 89%);
}

.style-COMM1116 .assignment-tag {
    background-color: hsl(200, 40%, 60%);
}
.style-COMM1116 {
    background-color: hsl(200, 34%, 89%);
}

.style-COMP1100 .assignment-tag {
    background-color: hsl(56, 40%, 60%);
}
.style-COMP1100 {
    background-color: hsl(56, 34%, 89%);
}

.style-COMP1113 .assignment-tag {
    background-color: hsl(332, 50%, 60%);
}
.style-COMP1113 {
    background-color: hsl(332, 34%, 89%);
}

.style-COMP1712 .assignment-tag {
    background-color: hsl(109, 35%, 60%);
}
.style-COMP1712 {
    background-color: hsl(109, 34%, 89%);
}

/* For assignment template */
@media only screen and (min-width: 1000px) {
    .assignment-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Added to keep headings consistent */

.btn-group {
    min-width: 200px;
}

#dropdown {
    width: 50vw;
    margin: auto;
}


#leaderboardDropDown {
    margin-left: 50%;
}

.dropdown-menu {
    width: 50vw;
}

.btn-group {
    width: 50vw;
    margin:  1.5em auto;
}

.dark-mode {
    background-color: #202124;
    color: white;
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    color: white;
}

#showAll:hover {
    background-color: grey;
}

#id1100:hover {
    background-color: rgb(194, 188, 112);   
}

#id1116:hover {
    background-color: rgb(112, 167, 194);
}

#id1113:hover {
    background-color: rgb(204, 102, 150);
}

#id1510:hover {
    background-color: rgb(204, 102, 102);
}

#id1537:hover {
    background-color: rgb(194, 153, 112);
}

#id1712:hover {
    background-color: rgb(130, 189, 117);
}

#id1800:hover {
    background-color: rgb(157, 112, 194);   
}

/* Modals */
.modal-header{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}