#navBar {
    background-color: darkgray;
    padding-top: 2vh;
    justify-content: space-around; 
}
.nav-item {
    text-decoration: none;
    color: inherit;
}
.nav-item img {
    min-height: 5vh;
    max-height: 6vh;
}
#navBar p {
    text-align: center;
    /*
    2rem looks better on mobile, but sometimes overlaps on pc.
    1.7rem can work for now, but I'll try to find a better solution later.
    */
    font-size: 1.7rem; 
}
img {
    display: block;
    margin: 0 auto;
}

/* Assignment Instance */
#assignment{
    width: 90%;
    height: 8em;
    margin: 2em auto;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 1% 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


#top-row {
    grid-row: 1;
    display: grid;
    grid-template-columns: 80% 1fr 1fr;
}

#bookmark {
    appearance: none;
    width: 20px;
    border-right: 14px solid white;
    border-left: 14px solid white;
    border-bottom: 10px solid transparent;
    margin: 0;
}

#bookmark:checked {
    border-right-color: black;
    border-left-color: black;
}

#checkbox {
    margin: 0 0 0 auto;
    width: 35px;
    
}

#top-row p {
    font-size: larger;
    font-weight: bold;
    margin: auto auto 0.2em 0;
}

#assignment-tag {
    background-color: darkgrey;
    width: auto;
    margin: auto;
    margin-left: 0;
    margin-top: 0;
    border-radius: 3em;
}

#assignment-tag p {
    color: white;
    margin: auto 1em;
    font-size: 0.9em;
}

#bottom-row {
    grid-row: 3;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#bottom-row > p {
    margin: 1em auto auto 0
}

#amount-completed {
        margin: 1em 0 0 auto;
}

#amount-completed img {
    vertical-align: middle;
    float: left;
    width: 35px;
    height: auto;
    margin: auto 5px auto auto;
}

#amount-completed p {
    margin: auto;
}

/* For assignment template */
@media only screen and (min-width: 1000px) {
    #assignment-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
