/* Navbar instance */
#navBar {
    background-color: darkgray;
    padding-top: 3vh;
    justify-content: space-around;
}

.nav-item {
    text-decoration: none;
    color: inherit;
}

.nav-item img {
    width: 100%;
    min-height: 4%;
    max-height: 5vh;
}

#navBar p {
    text-align: center;
    font-size: 1rem;
}

img {
    display: block;
    margin: 0 auto;
}

/* Assignment Instance */
.assignment {
    width: 90%;
    height: 8em;
    margin: 2em auto;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 1% 1em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.assignment-completed {
    background-color: rgb(236, 236, 236);
    color: rgb(193, 195, 196)
}

.assignment-completed img {
    opacity: .5;
}


.top-row {
    grid-row: 1;
    display: grid;
    grid-template-columns: 55% 25% 1fr 1fr;
}

.title-here {
    grid-column: 1;
}

.points-here {
    grid-column: 2;
}

.bookmark {
    cursor: pointer;
    appearance: none;
    width: 20px;
    border-right: 14px solid white;
    border-left: 14px solid white;
    border-bottom: 10px solid transparent;
    margin: 0;
    grid-column: 3;
}

.bookmark:checked {
    border-right-color: black;
    border-left-color: black;
}

.checkbox {
    cursor: pointer;
    margin: 0 0 0 auto;
    width: 35px;
    grid-column: 4;
}

.top-row p {
    font-size: larger;
    font-weight: bold;
    margin: auto auto 0.2em 0;
}


.assignment-tag {
    background-color: darkgrey;
    width: auto;
    margin: auto;
    margin-left: 0;
    margin-top: 0;
    border-radius: 3em;
}

.assignment-tag p {
    color: white;
    margin: auto 1em;
    font-size: 0.9em;
}

.bottom-row {
    grid-row: 3;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom-row>p {
    margin: 1em auto auto 0
}

.amount-completed {
    margin: 1em 0 0 auto;
}

.amount-completed img {
    vertical-align: middle;
    float: left;
    width: 35px;
    height: auto;
    margin: auto 5px auto auto;
}

.amount-completed p {
    margin: auto;
}

/* For assignment template */
@media only screen and (min-width: 1000px) {
    .assignment-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Added to keep headings consistent */
.heading {
    text-align: center;
    background-color: darkgray;
    padding: 1em 1em;
}

.btn-group {
    min-width: 200px;
}

#dropdown {
    width: 50vw;
    margin: auto;
}


#leaderboardDropDown {
    margin-left: 50%;
}

.dropdown-menu {
    width: 50vw;
}

.btn-group {
    width: 50vw;
    margin:  1.5em auto;
}

.dark-mode {
    background-color: rgb(0, 0, 0);
    color: white;
}